## 오픈소스 프로젝트

In [2]:
# 모듈 import, 필요에 따라 더 추가
import pandas as pd

#### 데이터셋 불러오기
###### trafficDay=서울시 일일 버스 이용량 데이터
###### weather=서울시 강수 정보

In [17]:
# 단 이 부분은 컴퓨터에 따라 파일 위치가 다르므로 각자 컴퓨터의 위치에 맞게 수정해도 됩니다.
trafficDay=pd.read_csv("서울시 행정동별 버스 총 승차 승객수 정보.csv",encoding='euc-kr')
weather=pd.read_csv("서울시 강우량 정보.csv",encoding='euc-kr')

#### 데이터 셋 확인
###### 어떤 데이터들이 있는지 확인해보기 위해 맨 위의 5개의 행을 불러온다.

In [15]:
trafficDay.head()

,기준_날짜,행정동_ID,버스_승객_수,버스_승객_수_00시,버스_승객_수_01시,버스_승객_수_02시,버스_승객_수_03시,버스_승객_수_04시,버스_승객_수_05시,버스_승객_수_06시,...,버스_승객_수_14시,버스_승객_수_15시,버스_승객_수_16시,버스_승객_수_17시,버스_승객_수_18시,버스_승객_수_19시,버스_승객_수_20시,버스_승객_수_21시,버스_승객_수_22시,버스_승객_수_23시
0,20220427,1124082,14252,69,53,34,37,100,239,767,...,518,649,768,870,972,731,468,428,361,137
1,20220427,1124081,11547,38,47,26,8,136,162,465,...,414,559,687,798,1001,596,467,423,325,136
2,20220427,1106091,8287,21,0,0,0,54,186,388,...,327,392,393,470,581,451,277,249,197,95
3,20220427,1111079,12531,150,37,43,43,135,201,343,...,684,588,610,679,855,734,543,483,472,340
4,20220427,1121069,23825,223,19,34,28,76,276,501,...,977,1262,1398,1675,2454,2101,1567,1481,1502,985

In [16]:
weather.head()

   강우량계 코드 강우량계명  구청 코드  구청명  10분우량           자료수집 시각
0     1301  은평구청    113  은평구    0.0  2022-05-02 13:49
1      701  중랑구청    107  중랑구    0.0  2022-05-02 13:49
2      602  상월곡동    106  성북구    0.0  2022-05-02 13:49
3      601  성북구청    106  성북구    0.0  2022-05-02 13:49
4      501  강북구청    105  강북구    0.0  2022-05-02 13:49